<h1>DaoPayController->new()</h1>


<%= link_to 'Zur Startseite', {:controller => 'DaoPay', :action => 'index'} %>
<br/>

<h3>iFrame:</h3>
<%= daopay_iframe(@myParams) %>



<h3>DaoPayIframeParameters</h3>
<pre>
<%= h(@myParams.to_xml) %>	
</pre>
<br/>

<b>Payment URL:</b>
<%= @myParams.payment_url %>
<br/>



